// Main Sass File


#nav-footer {
	font-size: 11px;
}



#footor {
	background-color: #282828;
	color: white;

	.copyright {
	font-size: 10px;
}

	#iconOnFooter {
	font-size: 40px;
	margin-left: 4px;
	}


}